{% extends "main/base.html" %}
{% block content %}
	{% for juetpost in juetposts%}
	    <article class="media content-section">
   		<div class="media-body">
    	<div class="article-metadata">
    	<a class="mr-2" href="#">{{ juetpost.title }} </a>
      	<small class="text-muted">{{ juetpost.date_posted|date:"F d,Y" }}</small>
    	</div>
    	<h2><a class="article-title" href="#">{{ juetpost.author }}</a></h2>
    	<p class="article-content">{{ juetpost.content }}</p>
  		</div>
		</article>
	{% endfor %}	
{% endblock content %}
	